		
		<div class="ui horizontal divider">
    		Site Map
 		</div>
 			<a href="https://www.noodlab.com">
 				<p class="powered-by"><em>Powered by NoodLab - Creative Studios</em></p>
 			</a>
		</div>
	</body>
</html>