<!DOCTYPE html>
<html>
<head>
	<title>Double Thread</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/semantic.css">
	 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"> 
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="eye icon"></i><a href="/">Double Thread</a></div>
            <a href="/collections" class="item">Collections</a>
            <a href="/blog" class="item">Blog</a>
            <a href="/about" class="item">A|C Brands</a>
            <a href="/grid" class="item">Grid</a>
            <a href="/login" class="item">Login</a>
            <a href="/signup" class="item">Sign Up</a>
        </div>
    </div>