<% include partials/header.ejs %>

<div class="ui main text container">
	<h1>Meet A|C Brands</h1>
	<h4>A fresh breath in the world of fashion</h4>
	<p><strong>Contact:</strong> Alia Cordeiro | 613-888-9593 | admin@acbrands.com</p>
</div>

<% include partials/footer.ejs %>